
@views.html.admin.admin("Login Page") {

    <label>用户名</label><input type="text" id="user">
    <label>密码</label><input type="password" id="pwd">
    <button id="btn" onclick="login()">Login</button>


    <script type="application/javascript">
        function login() {
            var user = document.getElementById('user').value
            var password = document.getElementById('pwd').value
            var param = {user: user, password: password}
            console.log(param)
            fetch('/login', {
                method: "POST",
                body: JSON.stringify(param),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(function (response) {
                return response.json()
            }).then(function (data) {
                window.location.href = data.url
            })
        }
    </script>
}
