
@import anorm.vo.BlogDetail
@(article: Option[BlogDetail])

@views.html.admin.admin("发布") {

    <div class="publish">
        <div class="blog-info">
        <input class="blog-title" id="title" value="@article.map(a => a.title).getOrElse("")">
        <textarea class="editor" id="content">@article.map(a => a.content).getOrElse("")</textarea>
        </div>
        <div class="separator"></div>
        <div id="show-md" class="markdown-preview"></div>
    </div>
    <div class="publish-ctl">
        <div class="publish-space"></div>
        <div class="btn-panel">
            <button class="btn-publish" onclick="save()">发布</button>
        </div>
    </div>

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/code_style.css")">
    @*<link href="//cdn.bootcss.com/highlight.js/9.15.6/styles/github.min.css" rel="stylesheet">*@
@*    <link href="//cdn.bootcss.com/highlight.js/9.15.6/styles/a11y-dark.min.css" rel="stylesheet">*@
    <link href="//cdn.bootcss.com/highlight.js/9.15.6/styles/monokai-sublime.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/marked/0.6.2/marked.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.15.6/highlight.min.js"></script>
    <script type="application/javascript">
        var rendererMD = new marked.Renderer();
        marked.setOptions({
            highlight: function (code) {
                return hljs.highlightAuto(code).value;
            },
            renderer: rendererMD,
            gfm: true,
            tables: true,
            breaks: true,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false
        });

        var markdown = document.getElementById("content");

        var showMD = document.getElementById("show-md");

        var title = document.getElementById('title');

        showMD.innerHTML = marked(markdown.value);

        markdown.addEventListener('keyup', refreshMD);

        function refreshMD(e) {
            console.log(markdown.value);
            showMD.innerHTML = marked(markdown.value);
        }

        var blog = {};
        @article.map { a =>
            blog.id = @a.id
            blog.image = '@a.image'
        }
        function save() {
            var blogInfo = marked(markdown.value);
            var lineInfo = blogInfo.split('\n');
            blog.title = title.value;
            blog.summary = (lineInfo[0] + lineInfo[1]).replace(/<[^>]+>/g,"");
            blog.content = markdown.value;
            fetch('/blog/publish', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(blog)
            }).then(function (response) {
                return response.json()
            }).then(function (data) {
                console.log(data)
                window.location.href = data.url;
            }).catch(function (reason) {
                console.log(reason);
            });
        }
    </script>

    <script src="@routes.Assets.versioned("javascripts/code_style.js")" type="text/javascript"></script>
}