.publish {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 500px;
}
.editor {
    flex: 40;
    font-size: 15px;
    border-radius: 5px;
}
.separator {
    background-color: silver;
    flex: 1;
    margin: 0 20px;
}
.markdown-preview {
    flex: 40;
}