.publish {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 500px;
}
.blog-info {
    flex: 40;
}
.blog-title {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.editor {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-radius: 5px;
}
.separator {
    background-color: silver;
    flex: 1;
    margin: 0 20px;
}
.markdown-preview {
    flex: 40;
    max-width: 500px;
    overflow-x: scroll;
}
.publish-ctl {
    display: flex;
    height: 100px;
}
.publish-space {
    flex: 10;
}
.btn-panel {
    flex: 1;
}
.btn-publish {
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 90px;
    background-color: #62beff;
}